# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
include
mitcr.alpha2.txt
jsoncpp.cpp

.idea/ymir.iml

.idea/.name

*.xml
ymir_models
ymir_genprob
ymir_artif
